<head> </head>
<body>
  <form>
    <div>
      <label>Enter your todo</label>
      <input autofocus />
    </div>
    <button type="submit">Add</button>
  </form>

  <script>
    document.querySelector("form").addEventListener("submit", (event) => {
      event.preventDefault();
      const { value } = document.querySelector("input");
      window.api.sendTodo(value);
    });
  </script>
</body>
