<head> </head>
<body>
  <h1>Video Info</h1>
  <form>
    <div>
      <label>Select a video</label>
      <input type="file" accept="video/*" />
    </div>
    <button type="submit">Get Info</button>
  </form>

  <h1 id="result"></h1>

  <h1>TODO</h1>
  <ul></ul>

  <script>
    document.querySelector("form").addEventListener("submit", (event) => {
      event.preventDefault();
      const path = document.querySelector("input").files[0].path;
      window.api.sendPath(path);
    });

    window.api.receiveDuration((duration) => {
      document.querySelector("#result").innerHTML = `Video is ${duration} sec.`;
    });

    window.api.receiveTodo((todo) => {
      const li = document.createElement("li");
      const text = document.createTextNode(todo);

      li.appendChild(text);

      document.querySelector("ul").appendChild(li);
    });
  </script>
</body>
